body {
    background-image: url(../images/funky-lines.png);
    height: fit-content;
}
#footer {
    position: relative;
    margin: 25px;
}

#footer p{
    margin-bottom: 0px;

}

.logo {
    padding: 15px;
    text-align: center;
}

a {
    text-decoration: none;
}