body {
    background-image: url(../images/wormz.png);
    height: fit-content;
    
}
#footer {
    position: relative;
    margin: 25px;
}

#footer p{
    margin-bottom: 0px;

}

.logo {
    padding: 15px;
    text-align: center;
}

a {
    text-decoration: none;
}

/* h1, h2, h3, h4 {
    font-family: 'Galada', cursive;
} */

.mainContent {
    margin-top: 60px;
    margin-bottom: 60px;
    padding-bottom: 30px;
}

#connect {
    padding: 8px 8px 0px 8px;
}
.page-header {
    border: solid 2px white;
}
i {
   font-size:50px; 
}
.project-title {
    color: white;
    font-size: 32px;
}
.project-card {
    height: 300px;
    padding: 5px;

}
/* .card-img {
    height: 150px;
} */
.page-title {
    padding: 10px;
}

.connect-card {
    margin-bottom: 50px;
}

.card-header {
    margin-bottom: 15px;
}
#contactButton {
    margin-bottom:8px;
}